.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd;
}

.nav-logo {
    width: 40px;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-items>li {
    padding: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: antiquewhite;
}